html, body {
    height: 100%;
    width: 100%;
}

.box {
    background: gray;
    text-align: center;
    margin: 25px 20px;
    height: 700px;
    width: 92%;
    float: left;
    font-size: 300px;

}

.button {
    height: 100px;
    width: 200px;
    background: red;
    font-size: 65px;
    position: absolute;
    bottom: 0px;
    color: white;
   
}

.one {
    left: 200px;  
}

.two {
    right: 200px;
    background: blue;
}